<section ng-controller="HomeController">
  <div ng-app="ngMap" style ="margin-top:55px;">
    <ng-map id="map" class="angular-google-map-container"
          center="37.378502,127.112685"
          zoom="15"
          map-type-control-options="{position:'TOP_RIGHT'}"
          >
      <marker id="marker1"
      position="37.378502,127.112685"
      on-click="click($event)"
      on-mouseover="map.showInfoWindow('bar')"
      on-mouseout="map.hideInfoWindow('bar')"
      title="WIZnet Co.,Ltd."></marker>
      <info-window id="bar">
        <div
          data-ac-chart="'line'"
          data-ac-data="chdata"
          data-ac-config="config"
          class="chart">
          <h2>Time Stamp : {{timeStamp}}</h2>
          <h2>TDS : {{tdsData}}</h2>
        </div>
      </info-window>
    </ng-map>
    <div class="logo_top"></div>
  </div>
  <div style ="margin-right:10px; margin-left:10px;">
    <div class="row">
        <div class="col-md-3">
          <h2><strong>W</strong>IZnet</h2>
          <p><a target="_blank" href="http://wiznet.co.kr/">WIZnet</a> is the trend leader of Open Source Hardware. Our unique solution, Hardwired TCP/IP technology, in Arduino’s Ethernet Shield has been recognized as de facto standard for IoT.</p>
        </div>
        <div class="col-md-3">
          <h2><strong>A</strong>cadamy</h2>
          <p><a target="_blank" href="http://wiznetacademy.com/"> WIZnet Academy</a> </p>
        </div>
        <div class="col-md-3">
          <h2><strong>M</strong>useum</h2>
          <p><a target="_blank" href="http://wiznetmuseum.com/">WIZnet Museum</a> </p>
        </div>
        <div class="col-md-3">
          <h2><strong>W</strong>iznetian</h2>
          <p><a target="_blank" href="http://wiznetian.com/">WIZnetian</a> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="bg-primary" style="text-align: center; vertical-align: middle;height: 39px; line-height: 39px;">&nbsp; &nbsp;<b>T</b>eaM <B>I</b>o<b>T</B>. <B>W</B>iznet</p>
        </div>
      </div>
    </div>

</section>
