<section>
  <div ng-app="ngMap" style ="margin-top:55px;">
    <ng-map class="angular-google-map-container"
          center="37.378502,127.112685"
          zoom="15"
          map-type-control-options="{position:'TOP_RIGHT'}"
          >
      <marker position="37.378502,127.112685" on-click="click($event)" title="Wiznet CO.LTD"></marker>
    </ng-map>
    <div class="logo_top"></div>
  </div>
  <div style ="margin-right:10px; margin-left:10px;">
    <div class="row">
        <div class="col-md-3">
          <h2><strong>W</strong>iznet</h2>
          <p><a target="_blank" href="http://wiznet.co.kr/">Wiznet</a> is the trend leader of Open Source Hardware. Our unique solution, Hardwired TCP/IP technology, in Arduino’s Ethernet Shield has been recognized as de facto standard for IoT.</p>
        </div>
        <div class="col-md-3">
          <h2><strong>A</strong>cadamy</h2>
          <p><a target="_blank" href="http://wiznetacademy.com/"> Wiznet Academy</a> is a NodeJS server-side application web framework. Check outfor more info.</p>
        </div>
        <div class="col-md-3">
          <h2><strong>M</strong>useum</h2>
          <p><a target="_blank" href="http://wiznetmuseum.com/">Wiznet Museum</a> is client-side web application framework. The Egghead Videos are great resources.</p>
        </div>
        <div class="col-md-3">
          <h2><strong>W</strong>iznetian</h2>
          <p><a target="_blank" href="http://wiznetian.com/">Wiznetian</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this offer excellent starting points to get to grasps with node.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="bg-primary" style="text-align: center; vertical-align: middle;height: 39px; line-height: 39px;">&nbsp; &nbsp;<b>T</b>eaM <B>I</b>o<b>T</B>. <B>W</B>iznet</p>
        </div>
      </div>
    </div>

</section>
